.li {
    position: relative;
    left: -2vw;
    list-style: none;
    background-color: rgba(255, 250, 245, .7);
    background: linear-gradient(135deg, #888 35%, #8b8b8b 55%, #8d8d8d 65%, #7a7a7a 75%);
    box-shadow: 6px 3px 6px rgba(0, 0, 0, .2), 12px 6px 12px rgba(0, 0, 0, .2);
    border-radius: 15px;
    margin: 1vw;
    user-select: none;
    background-size: 200%;
    background-position: 100% 100%;
    transition: all .2s ease-in-out;
}

li:hover{
    box-shadow: 12px 6px 12px rgba(0,0,0,.1), 16px 10px 16px rgba(0,0,0,.2), inset 8px 8px 16px rgba(255, 255, 255, .15);
    filter: brightness(110%);
    background-position: 0% 0%;
}

.ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 15vw);
    position: absolute;
    top: 10vh;
    left: 0;
    min-height: 15vh;
    max-height: 89vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.title {
    margin-top: 2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: calc(.5em + 1.8vh);
}

.title::first-letter{
    font-family:Courier New;
    font-size: 1.6em;
}

.description {
    margin-top: -.8em;
    text-align: center;
    padding: .5em;
    font-size: minmax(.8em, 1.8vh);
    color: #323232;
}

.price {
    position: absolute;
    font-weight: bold;
    right: .6em;
    bottom: .6em;
    text-shadow: 0px 0px 2px #888;
    background-color: rgba(128,128,128,.2);
    backdrop-filter: blur(1px);
}

.formCell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4vh;
    width: 100%;
    align-items: center;
    margin-bottom: 2vh;
    font-size: large;
}

.submit {
    margin-top: 2vh;
    height: 3vh;
    width: 10vw;
    background-color: rgb(255, 120, 0);
    background: linear-gradient(170deg, rgb(255, 120, 0) 10%, rgb(255, 100, 0) 90%);
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.submit:hover{
    filter: brightness(120%);
    box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.15), inset 4px 4px 6px rgba(255, 255, 255, 0.06);
    background-position: -10vw -3vh;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(2px);
    z-index: 1;
    transition: all 0.25 ease-in-out;
}

.modalForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #888;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    height: 40%;
    left: 37.5%;
    width: 25%;
    box-shadow: 0 0 32px rgba(0,0,0,.1), 0 0 16px rgba(0,0,0,.2);
}

.inputTextField {
    width: 80%;
    background-color: #323232;
    color: #edc;
    font-size: large;
}

.removeButton {
    position: absolute;
    height: calc(1em + 1.5vh);
    width: calc(1em + 1.5vw);
    top: 0;
    right: 0;
    border-radius: 0 15px 0 5px;
    border: none;
    background-color: rgb(255, 60, 0);
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    font-size: calc(.6em + .3vw);
    font-weight: bold;
    font-family:'Segoe UI';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
}

.removeButton:hover {
    background-color: rgb(255, 120, 0);
    box-shadow: 4px 6px 6px rgba(0,0,0,.1), inset 4px 4px 6px rgba(255, 255, 255, .06);
}